#content {
  padding-left: 20px;
  padding-right: 20px;
}

.logo-header {
  text-align: center;
  background: #ee3227; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, #ee3227 , #eb185c); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #ee3227 , #eb185c); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #ee3227 , #eb185c); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #ee3227 , #eb185c); /* Standard syntax */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
