 body { 
  max-width: 650px;
  margin-top: 0px;
  font-family: sans-serif;
  background-color: #f9f6f1;
  font-weight: 300;
  font-style: normal;
  font-size: 11pt;
  line-height: 150%;
} 


main {
max-width:42em;
padding: 2em;
line-height: 20px;
font-size: 14px;
}

h1 {
  font-weight: 300;
}

h2,h3 {
  font-weight: 400;
  margin-top: 40px;
}

.separator{
  height:3px;
  width: 100%;
  background-image: linear-gradient(to right, #e8003a, #ac0d37, #71142d, #3a121d, #000000);
  margin-bottom: 20px;
}

ul {
  list-style-type: "";
  padding-left: 15px;
}

li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.project {
  font-weight: 400;
}

a, a:visited { color: black; }
a:hover { color: black; text-decoration: none; }
img.dilip { width: 250px; height: 250px; margin-bottom: 1em; }

.masonry img {
  height: 136px;
}

.lightbox-captions {
  background-color: transparent !important;
  color: black !important;
  font-weight: 400;
  font-size: 13px;
}